.prose h1,
.prose h2,
.prose h3 {
  font-weight: bold;
  margin-top: 3rem;
}

.prose h1:first-child {
  float: left;
  clear: left;
  width: 50%;
  margin-left: calc(-50% + (-1/2 * var(--grid-column-gap)));
}
.prose h1:first-child + * {
  margin-top: 0;
}

.prose > * > *:first-child { margin-top: 0 }

.prose p { margin-top: 1rem; }

.prose code {
  font-weight: bold;
}
.prose pre code {
  font-weight: normal;
}

.prose blockquote {
  padding-left: calc((0.76em*2) - 1px);
  border-left: 1px solid var(--color-foreground);
}

.prose pre.SourceCode {
  --vertical-padding: 1.25rem;
  --horizontal-padding: 1.875rem;

  border-radius: 4px;
  margin: 2rem calc(-1 * var(--horizontal-padding));
  padding: var(--vertical-padding) var(--horizontal-padding);
  border: 1px solid var(--color-dark-l1);
}
