@import "reset.css";
@import "variables.css";
@import "scrollbar.css";
@import "grid.css";
@import "prose.css";
@import "code-highlight.css";
@import "main_template.css";
@import "fieldnotes.css";

::selection {
  color: var(--color-background);
  background: var(--color-foreground);
}

html {
  font: var(--t-base);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: var(--color-background);
  color: var(--color-foreground);

  text-underline-offset: 0.25em;

}
body {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

code, kbd, pre, samp {
  font: var(--t-mono-16-regular);
}

a {
  text-decoration: underline;
}

.wrapper {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
