code.sourceCode { white-space: pre-wrap; }

/* String */
code span.st { font-weight: bold; }

/* Alert */
code span.al { font-weight: bold; }

/* Annotation */
code span.an { font-style: italic; }

/* ControlFlow */
code span.cf { font-weight: bold; }

/* Comment */
code span.co { color: var(--color-dark-l2); }

/* CommentVar */
code span.cv { font-style: italic; }

/* Documentation */
code span.do { font-style: italic; }

/* DataType */
code span.dt { text-decoration: underline; }

/* Error */
code span.er { font-weight: bold; }

/* Information */
code span.in { font-style: italic; }

/* Keyword */
code span.kw { font-weight: bold; }

/* Preprocessor */
code span.pp { font-weight: bold; }

/* Warning */
code span.wa { font-style: italic; }
