body {
  overflow-y: visible;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-foreground) var(--color-background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-foreground);
  broder-radius: 0;
  border: none;
}
