@font-face {
  font-family: "base";
  font-weight: normal;
  src: url("regular.woff2") format("woff2");
}
@font-face {
  font-family: "base";
  font-weight: bold;
  src: url("bold.woff2") format("woff2");
}

@font-face {
  font-family: "mono";
  font-weight: normal;
  src: url("mono-regular.woff2") format("woff2");
}
@font-face {
  font-family: "mono";
  font-weight: bold;
  src: url("mono-bold.woff2") format("woff2");
}

:root {
  /* Color */
  --color-light: #D9D9D9;
  --color-dark: #0D0D0D;

  --color-dark-l1: #2f2f2f;
  --color-dark-l2: #676767;

  --color-light-d1: #c7c7c7;

  --color-background: var(--color-dark);
  --color-foreground: var(--color-light);

  /* Typography */
  --t-base: var(--t-sans-16-regular);

  --t-sans-16-regular: 16px/1.65 sans-serif;
  --t-serif-16-regular: 16px/1.65 serif;
  --t-mono-16-regular: 14.5px/1.65 "mono", Inconsolata, monospace;
}
